<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gumeng.usercenter.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.gumeng.usercenter.model.domain.Tag">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tagName" column="tagName" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="parentId" column="parentId" jdbcType="BIGINT"/>
            <result property="isParent" column="isParent" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tagName,userId,
        parentId,isParent,createTime,
        updateTime,isDelete
    </sql>

    <resultMap id="tagsResultMap" type="com.gumeng.usercenter.model.vo.TagVO">
        <!-- 一级数据映射 -->
        <id     column="one_tagName"        property="id" />
        <result column="one_tagName"      property="text" />
        <!-- 一级中包含多个二级数据 -->
        <collection property="children" ofType="com.gumeng.usercenter.model.vo.TagVO">
            <!-- 一级数据映射 -->
            <id     column="two_tagName"        property="id" />
            <result column="two_tagName"      property="text" />
        </collection>
    </resultMap>

    <select id="getTagList" resultType="com.gumeng.usercenter.model.vo.TagVO" resultMap="tagsResultMap">
        select
            one.id  one_id,
            one.tagName  one_tagName,
            two.id  two_id,
            two.tagName  two_tagName
        from
            tag one
                left join tag two ON two.parentId = one.id
        where
            one.isParent = 1;
    </select>
</mapper>
